#contact-footer {
    margin-top: 20vh;
}
.contact-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width:90%;
    justify-items: center;
    margin: 0 auto;
    margin-top: -15vh;
}
.contact-form, .contact-info {
    width: 85%;
    background: linear-gradient(90deg, #f1faee, transparent);
    padding: 20px 30px;
    border-radius: 5px;
}
.contact-info h3 {
    margin-bottom: 10px;
}
.form {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
    color: var(--darkBlue);
}
.form-line {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 12px;
    margin-top: 8px;
    margin-bottom: 8px;
}
.form-input {
    height: 30px;
    border: none;
    border-radius: 5px;
    flex: 1;
    background-color: var(--white);
}
.form-input:focus {
    outline: 1px solid white;
    background-color: transparent;
}
#message {
    height:50px;
}
.submit-button {
    width: 100%;
    border: none;
    border-radius: 5px;
    height: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
    background-color: var(--white);
}