
.punchline {
    margin-top: 5vh;
    justify-items: center;
}
.punch-text {
    color: var(--blue);
    text-transform: uppercase;
    font-size: clamp(20px, 3vw, 40px);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
}
.discover-button {
    display: block;
    width: clamp(140px, 30%, 300px);
    height: 5vh;
    border: 1px solid var(--white);
    border-radius: 5px;
    background-color: var(--white);
    font-family: "cofo-raffine", sans-serif;
    font-weight: 900;
    font-size: clamp(16px, 2vw, 25px);
    cursor: pointer;
    color: var(--darkBlue);
}

.discover-button:hover {
    background-color: var(--lightBlue);
    cursor: pointer;
}
.palm-tree {
    width: 100%;
}

.main-grid {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 10;
    top: -20vh;
    gap: 5%;
    padding: 2vw;
    align-items: center;
    overflow: hidden;
    font-family: "cofo-raffine", sans-serif;
}

.content-section {
    width: 85%;
    margin-bottom: 10vh;
}

@media (max-width: 768px) {
    .content-section {
        width: 95%;
    }
}
#top-element {
    justify-items: center;
    background-color: var(--white);
    padding: 2vw;
    border: 1px solid var(--white);
    border-radius: 5px;
}

.experiences {
    display: flex;
    flex-direction: row;
    gap: 5vw;
    flex-wrap: wrap;
}

.experience-card {
    width: clamp(10vw, 15vw, 20vw);
    aspect-ratio: 1/1;
    justify-items: center;
    border: 0px solid var(--lightBlue);
    border-radius: 5px;
    background: linear-gradient(#f1faee, #a7b6c0);
    padding: 2vw;
    box-sizing: border-box;
}

@media (max-width: 600px) {
    .experience-card {
        width: 40vw;
    }
}
.events {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2vw;
}

@media (max-width: 600px) {
    .events {
        grid-template-columns: 1fr;
    }
}

.event {
    padding: 1.5vh;
    background: linear-gradient(90deg, #f1faee, transparent 90%);
    border-radius: 5px;
}

.image {
    width: 80%;
}

#transport {
    justify-items: right;
    display: grid;
    grid-template-columns: 70% 30%;
    background: linear-gradient(270deg, #f1faee, transparent);
    border-radius: 5px;
    padding: 4vw 2vw;
    box-sizing: border-box;
    scroll-margin-top: 20vh
}

@media (max-width: 768px) {
    #transport {
        grid-template-columns: 1fr;
    }
}
.transport-buttons {
    display: flex;
    flex-direction: row;
    gap: 2vw;
    flex-wrap: wrap;
}
.transport-button {
    width: clamp(80px, 13vw, 200px);
    aspect-ratio: 1/1;
    background: transparent;
    border: none;
}
.transport-image {
    width: 80%;
    height: 40%;
    object-fit: cover;
    padding-top: 1vh;
}
.transport-header {
    padding: 2vw;
}
.beach {
    width: 110%;
    left: -5%;
    position: relative;
    z-index: 15;
    box-sizing: border-box;
    -webkit-mask-image: linear-gradient(to bottom, black 80%, transparent 100%);
    mask-image: linear-gradient(to bottom, black 80%, transparent 100%);
}
.bottom-section {
    margin-top: -60vh;
    position: relative;
    z-index: 12;
}

#landscape {
    width: 110%;
    left: -5%;
    min-height: 60vh;
    position: relative;
    margin-top: -30vh;
    padding: clamp(30px, 8vh, 80px) clamp(10px, 5vw, 60px);
    z-index: 11;
    background: linear-gradient(#d6aa79 30%, transparent 80%);
    justify-items: center;

}

.landscape {
    width: 80%;
    display: flex;
    flex-direction: row;
    gap: 5vw;
    align-items: center;
    padding-top: 15vh;
}
.landscape-text {
    justify-items: right;

}
.landscape-text p {
    color: var(--white);
}
.landscape-image {
    width: clamp(30vw, 30%, 40vw);
}
#culture {
    width: 80%;
    margin-left: auto;
    margin-right: 0;
    height: auto;
    min-height: 40vh;
    margin-top: -15vh;
    justify-items: right;
    background-color: var(--lightBlue);
    border: 1px solid var(--lightBlue);
    border-radius: 5px;
    padding: clamp(20px, 4vw, 60px);
    box-sizing: border-box;
}

@media (max-width: 768px) {
    #culture {
        width: 95%;
        margin-left: auto;
        margin-right: auto;
    }
}

